<% provide(:title, 'Contato') %>
<h1>Contato</h1>
<div id="contact-form">
	<form id="contact">
		<label for="contact-name">Nome</label>
		<input type="text" class="form-control" id="contact-name"><br>
		<label for="contact-email">Email</label>
		<input type="email" class="form-control" id="contact-email"><br>
		<label for="contact-message">Mensagem</label>
		<textarea class="form-control" id="contact-message" rows="5"></textarea>
		<button type="submit" id="contact-submit" class="btn">Enviar</button>
	</form>
	<div id="contact-result">
	</div>
</div>

<%= javascript_include_tag "contact", "data-turbolinks-track" => true %>
<%= javascript_include_tag "bootstrap.min", "data-turbolinks-track" => true %>