@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
  font-family: 'Avenir-light';
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* header */

#logo {
  font-family: 'Avenir-light';
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  letter-spacing: -1px;
  padding-top: 9px;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

.navbar {
  background-color:#34495e;
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;
  a {
    color: $gray;
    &:hover {
      color: $gray-darker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}

h1 {
  text-align: left;
}

#contact-form {
  width: 80%;
}

#contact-form #contact-submit {
  margin-top: 10px;
}

#signup-form {
  width: 80%;
}

#signup-form input {
  margin-bottom: 10px;
}

#signup-form input[type="radio"] {
  margin-left: 5px;
  clear: right;
}

#signup-form input[type="date"] {
  width: 50%;
  clear: right;
}

#signup-form #user_state {
  width: 60px;
}

.signup-comment {
  rows: 3;
  height: auto;
  margin-bottom: 10px;
}

#error_explanation {
  color: $state-danger-text;
  ul {
    color: $state-danger-text;
    margin: 0 0 0 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

#signup-city {
  display: inline-block;
  width: calc(50% - 66px);
}

#signup-state {
  display: inline-block;
  width: 66px;
  margin-left: 4px;
}

.signup-half {
  width: 50%;
}
